---
import Badge from '../icons/Badge.astro'
---

<section class="bg-pirate-gold-600 min-h-[100dvh] flex justify-center items-center font-alegreya px-4 py-5">
  <div class="flex flex-col md:flex-row gap-20">
    <div class="flex-1 flex">
      <Badge class="relative h-32 w-32 md:h-48 md:w-48 text-beauty-bush-300">
        <div class="absolute top-0 w-full h-full flex justify-center items-center">
          <h1
            class="h-16 w-16 md:h-36 md:w-36 flex justify-center items-center -rotate-12 text-beauty-bush-950 uppercase font-bold text-lg md:text-2xl text-center"
          >
            Postres Doña Aida
          </h1>
        </div>
      </Badge>
    </div>
    <div
      class="flex-1 flex flex-col gap-20 text-3xl md:text-5xl font-medium mb-8 text-apricot-50 animate-slide-in-left"
    >
      <h2 class="">¡Comunícate con nosotros!</h2>
      <address class="flex flex-col gap-12">
        <p>Calle 86A, Marianao, La ​Habana</p>
        <p><a href="tel:+5359080099">(+53) 59080099</a></p>
        <p><a href="mailto:hola@sitioincreible.com">hola@sitioincreible.com</a></p>
      </address>
    </div>
  </div>
</section>
