---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/heroSection/Hero.astro'
import ShortInfo from '@/components/infoSection/ShortInfo.astro'
import About from '@/components/aboutSection/About.astro'
import ShortMenu from '@/components/menu/ShortMenu.astro'
---

<Layout
  title="Descubre la dulzura de DulceAida"
  description="En DulceAida, ofrecemos una selección de dulces irresistibles que alegrarán tus días. Deléitate con nuestros sabores únicos y lleva a casa un pedacito de felicidad en cada bocado."
>
  <main>
    <Hero />
    <ShortInfo />
    <About />
    <ShortMenu/>
  </main>
</Layout>
