---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div class=`${className}`>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 504 504">
    <path
      fill="currentColor"
      d="m262 7 12 21c5 7 15 9 21 3l19-16c8-7 20-3 22 7l6 24c2 9 11 13 19 10l23-10c9-4 19 4 19 14l-3 25c-1 8 6 16 15 15l25-3c10 0 18 10 14 19l-10 23c-4 8 1 17 9 19l25 6c10 2 14 14 7 22l-17 19c-5 6-4 16 4 20l21 13c9 6 9 18 0 24l-21 12c-8 5-9 15-4 21l17 19c7 8 3 20-7 22l-25 6c-8 2-13 11-9 18l10 23c4 10-4 20-14 19l-25-2c-8-1-16 6-15 15l2 25c1 10-9 18-18 14l-23-10c-8-4-17 1-19 9l-6 25c-2 10-14 14-22 7l-19-17c-6-5-16-4-21 4l-12 21c-6 9-18 9-24 0l-13-21c-4-8-14-9-20-4l-19 17c-8 7-20 3-22-7l-6-24c-2-9-11-13-19-10l-22 10c-10 4-20-4-19-14l2-25c1-8-7-15-15-15l-25 3c-10 0-18-10-14-19l10-23c3-8-1-17-9-19l-25-6c-10-2-14-14-7-22l16-19c6-6 4-16-3-21L7 263c-9-6-9-18 0-24l21-13c7-4 9-14 3-20l-16-19c-7-8-3-20 7-22l24-6c9-2 13-11 10-19l-10-22c-4-10 4-20 14-19l25 2c8 1 16-7 15-15l-2-25c-1-10 9-18 19-14l23 10c7 3 16-1 18-9l6-25c2-10 14-14 22-7l19 16c6 6 16 4 21-3l12-21c6-9 18-9 24 0z"
    ></path>
  </svg>
  <slot />
</div>
