---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div class={className}>
  <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="143.4 235.1 457.1 423.3">
    <path
      fill="currentColor"
      d="M263.4 235.2a120 120 0 0 0-120 120c0 134.7 136 170 228.6 303.3C459.6 526 600.5 485.6 600.5 355.2A120 120 0 0 0 372 304.3a120 120 0 0 0-108.6-69.1z"
    ></path>
  </svg>
</div>
