---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div class=`${className}`>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
 
    preserveAspectRatio="xMidYMid meet"
    version="1"
    viewBox="-6.9 -6.9 513.9 513.9"
    zoomAndPan="magnify"
    ><g id="change1_1"
      ><path
        d="M282.9,20.6L282.9,20.6c9.7,20.1,35,26.8,53.4,14.3l0,0c25.2-17.2,59.2,2.4,56.9,32.9v0 c-1.6,22.2,16.9,40.7,39.1,39.1l0,0c30.4-2.2,50,31.7,32.9,56.9l0,0c-12.5,18.4-5.8,43.7,14.3,53.4l0,0c27.5,13.3,27.5,52.4,0,65.7 l0,0c-20.1,9.7-26.8,35-14.3,53.4l0,0c17.2,25.2-2.4,59.2-32.9,56.9h0c-22.2-1.6-40.7,16.9-39.1,39.1v0c2.2,30.4-31.7,50-56.9,32.9 l0,0c-18.4-12.5-43.7-5.8-53.4,14.3l0,0c-13.3,27.5-52.4,27.5-65.7,0l0,0c-9.7-20.1-35-26.8-53.4-14.3l0,0 c-25.2,17.2-59.2-2.4-56.9-32.9l0,0c1.6-22.2-16.9-40.7-39.1-39.1h0c-30.4,2.2-50-31.7-32.9-56.9l0,0c12.5-18.4,5.8-43.7-14.3-53.4 l0,0c-27.5-13.3-27.5-52.4,0-65.7l0,0c20.1-9.7,26.8-35,14.3-53.4l0,0c-17.2-25.2,2.4-59.2,32.9-56.9l0,0 c22.2,1.6,40.7-16.9,39.1-39.1l0,0c-2.2-30.4,31.7-50,56.9-32.9l0,0c18.4,12.5,43.7,5.8,53.4-14.3l0,0 C230.4-6.9,269.6-6.9,282.9,20.6z"
        fill="currentColor"></path></g
    ></svg
  >
  <slot />
</div>
