---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div class=`${className}`>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    preserveAspectRatio="xMidYMid meet"
    version="1"
    viewBox="-10.2 -10.2 520.4 520.4"
    zoomAndPan="magnify"
    ><g id="change1_1"
      ><path
        d="M308.8,30.5L308.8,30.5L308.8,30.5c45.2-20.9,97.4,9.3,101.9,58.8v0l0,0c49.6,4.5,79.7,56.7,58.8,101.9l0,0 l0,0c40.7,28.7,40.7,89,0,117.6l0,0l0,0c20.9,45.2-9.3,97.4-58.8,101.9h0v0c-4.5,49.6-56.7,79.7-101.9,58.8l0,0l0,0 c-28.7,40.7-89,40.7-117.6,0l0,0l0,0c-45.2,20.9-97.4-9.3-101.9-58.8l0,0h0C39.8,406.2,9.6,354,30.5,308.8l0,0l0,0 c-40.7-28.7-40.7-89,0-117.6l0,0l0,0C9.6,146,39.8,93.8,89.3,89.3l0,0l0,0C93.8,39.8,146,9.6,191.2,30.5l0,0l0,0 C219.8-10.2,280.2-10.2,308.8,30.5z"
        fill="currentColor"></path></g
    ></svg
  >
  <slot />
</div>
